<div class="container">
  <div class="row d-block">
    <div>
    <h2>Book Info</h2>
    <div class="mt-5 col-lg-12">
      <%= form_with model:@book, local:true do |f| %>
        <label>タグ(,で区切ると複数タグ登録できます)</label>
        <%= f.text_field :name, value: @tag_list, class: 'form-control' %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <%= image_tag @book.get_profile_image, size:"100x100" %>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :profile_image, class: "form-control-file", accept: 'image/*' %>
        </div>
        <div class="form-group">
          <%= f.label :introduction %>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class: 'btn btn-success' %>
        </div>
        <div class="form-group">
          <% if @book.user_id = current_user.id %>
            <%= link_to "削除する", book_path(@book), method: :delete, data: { confirm: 'この本を削除しますか？' }, class:"btn btn-danger" %>
          <% else %>
            <!--none-->
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<%= form_with model: @book do |f| %>


<% end %>