<!-- タグリスト -->
  <% @book_tags.each do |tag| %>
    <i class="fa-sharp fa-solid fa-tag"></i>
    <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
  <% end %>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <!--画像が設定されてなければデフォルトのイメージを表示-->
      <% if @book.profile_image.attached? %>
        <%= image_tag @book.profile_image, size:"100x100" %>
      <% else %>
        <%= image_tag "no_image.jpg" %>
      <% end %>
      <br>
      <p><%= render "favorites/favorite-btn", book: @book %></p>
    </div>
    <div class="col-lg-6 p-3 col-md-5 p-3 text-left">
      <p>title: <%= @book.title %></p>
      <br>
      <p>introduction: <%= @book.introduction %><p>
    </div>
  </div>
  <% if @book.user_id == current_user.id %>
    <%= link_to "本を編集する", edit_book_path(@book), class:"btn btn-info btn-sm" %>
  <% else %>
    <!--none-->
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!--コメント表示-->
      <div id="comment_index">
        <%= render "book_comments/index", book: @book, book_comment: @book_comment %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
    <!--コメント入力フォーム-->
    <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
  </div>
</div>