<h1>admin#top</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-10 offset-1 h-25">
      <%= link_to '会員一覧', admin_users_path, class:"form-group btn btn-secondary form-control"%>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-10 offset-1">
      <%= link_to 'コメント一覧', admin_comments_path, class:"form-group btn btn-secondary form-control"%>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-10 offset-1">
      <%= link_to '本一覧', admin_books_path, class:"form-group btn btn-secondary form-control"%>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-10 offset-1">
      <%= link_to 'タグ一覧', admin_tags_path, class:"form-group btn btn-secondary form-control"%>
    </div>
  </div>
</div>
<div>
  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-danger" %>
</div>
<% if admin_signed_in? %>
  <p>online</p>
<% else %>
  <p>offline</p>
<% end %>