<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span class="head">YourBook</span></a>
      <div class="ml-5">
        <%= render "searches/form" %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li>
            <%= link_to admin_users_path,class: 'nav-link text-light' do %>
              <i class="fas fa-users"></i>Users
            <% end %>
          </li>
          <li>
            <%=  link_to admin_comments_path,class: 'nav-link text-light' do %>
              <i class="fa-regular fa-comment-dots"></i>Comments
            <% end %>
          </li>
          <li>
            <%= link_to admin_books_path,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-book"></i>Books
            <% end %>
          </li>
          <li>
            <%= link_to admin_tags_path,class: 'nav-link text-light' do %>
              <i class="fa-solid fa-tag"></i>Tags
            <% end %>
          </li>
        <% else %>
          <% if user_signed_in? %>
            <li>
              <%= link_to edit_user_path(current_user),class: 'nav-link text-light' do %>
                <i class="fa-solid fa-user"></i>Profile
              <% end %>
            </li>
            <li>
              <%=  link_to books_path,class: 'nav-link text-light' do %>
                <i class="fas fa-book-open"></i>Books
              <% end %>
            </li>
            <li>
              <%= link_to new_book_path,class: 'nav-link text-light' do %>
                <i class="fa-solid fa-square-plus"></i>New book
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i>Log out
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to root_path,class: 'nav-link text-light' do %>
                <i class="fas fa-home"></i>Home
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
                <i class="fas fa-user-plus"></i>Sign up
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-in-alt"></i>Log in
              <% end %>
            </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>